/***** HEADER *****/

header{
	padding-top:10px;
	background-color: rgb(210,210,210);
}


header img{
	height:80px;
	width:auto;
	text-decoration:none;
}


/***** BODY *****/

body{
	color:#000;
}


/***** FOOTER *****/
footer{
	padding:10px;
	background-color: rgb(94, 95, 96);
	color:#fff;
}

footer p{
	text-decoration:underline;
}

footer a{
	text-decoration:none;
	color:#fff;
}

footer a:hover{
	text-decoration:none;
	color:#fff;
}

footer li{
	list-style:none;
}

a{
	text-decoration: none;
	color:#000;
}

a:hover{
	color:#000;
}

input[type="button"], input[type="submit"], .header_link{
	width:100%;
	margin-top: 10px;
  	background-color: #009FE3;
  	color:#ffffff;
	border-radius: 10px;
	display: inline-block;
	vertical-align: top;
	-webkit-appearance: button;
	border: 0;
	text-transform: uppercase;
	cursor: pointer;
	line-height: 24px;
	font-size: 12px;
	font-weight: 700;
	padding: 13px 0 13px 0;
	letter-spacing: 1px;
	-webkit-transition: color .2s ease-in-out,background-color .2s ease-in-out;
	transition: color .2s ease-in-out,background-color .2s ease-in-out;
	text-align: center;
}

input[type="button"]:hover, input[type="submit"]:hover, .header_link:hover{
	text-decoration: none;
	color:#FFF;
  	background-color: #006ba6;
}

.div_flux{
	padding-top:2em;
	padding-bottom:1em;
	border-bottom:1px solid #000;
}


.div_flux p{
	width:100%;
}

.show_web_a{
	margin-top:3em;
}

main img{
	width:100%;
}


form #login{
	margin:3em auto;
	text-align:center;
	width:40%;
	min-width: 450px;
	height:auto;
	border:1px #CACACA solid;
	border-radius: 15px;
	padding:1.5em;
}

form #login input[type='text'], form #login input[type='password']{
	margin:2em 0;
}

form #login input[type='submit']{
	width:60%;
}

#div_news a{
	text-decoration: none;
	color:#000;
}

#div_news li{
	padding:1em 0;
}

#div_show_my_flux{
	padding:2em 0;
	margin-bottom:1em;
	border-bottom:1px #CACACA solid;
}

table{
	width:100%;
}

tr{
	line-height:50px;
}

tr:nth-child(even){background-color: #f2f2f2}

table a img{
	width:50px;
	margin-top:-12px;
}

.div_flux img{
	display:none;
}

#div_add_flux{
	padding:2em 0;
	border: 1px #CACACA solid;
	border-radius: 0 0 25px 25px;
}

#div_add_flux input[type='text']{
	margin-top:20px;
}