{% extends 'base.html' %}

{% block title %}{% endblock %}
{% block main %}
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center" id="div_show_my_flux">
    <a href="/account">Consulter mes flux</a>
</div>
<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    {% if list_flux %}
    <h1>Nos articles :</h1>

    {% for flux in list_flux.entries %}
    <div class="div_flux">
        <div class="row">
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <a href="{{ flux.link }}" target="_blank"><h2>{{ flux.title }}</h2></a>
                <p>{{ flux.description|safe }}</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12 text-center show_web_a">
                <a href="{{ flux.link }}" target="_blank">Consulter</a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <div id="div_news">
        <h3>Dernières actualités :</h3>
        <ul>
            {% for i in range(0,3) %}
            <li>
                <a href="{{ list_flux.entries[i].link }}" target="_blank">{{ list_flux.entries[i].title }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}