{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block main %}
<div class="container">
	<div class="row">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<form action="/login" method="POST" class="text-center">
				<div id="login">
					<h1>Se connecter</h1>
					{{ form.csrf_token }}
					<div>
						<input type="text" placeholder="Nom d'utilisateur" name="username" required>
					</div>
					<div>
						<input type="password" placeholder="Mot de passe" name="password" required>
					</div>
					<input type="submit" value="Valider">
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock %}