{% extends 'base.html' %}

{% block title %}{% endblock %}
{% block main %}
<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
    {% if list_flux %}
    <h1>Nos articles :</h1>

    {% for flux in list_flux.entries %}
    <div class="div_flux">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                {% for aa in flux.links %}
                    <img src="{{ aa.href }}">
                {% endfor %}
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <h2>{{ flux.title }}</h2>
                <p>{{ flux.description|safe }}</p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                <a href="{{ flux.link }}">Consulter</a>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>
<div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
    <div id="div_news">
        <h3>Dernières actu :</h3>
        <a href="">KFC en difficulté</a>
        <a href="">La bourse en hausse</a>
        <a href="">L'IUT serait-il incompétent ?</a>
    </div>
</div>
<h1>Je suis la</h1>
{% endblock %}